<!DOCTYPE html>
<html>
  <head>
    <script>
          const side = '<%= status %>'
          //console.log(side);
    </script>
    <title>Play</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/76f090864f.js" crossorigin="anonymous"></script>
    <script src="/chess.js"></script>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div id="container">
      <div id="lobby">
        <h1>Waiting for opponent...</h1>
        <div>
          Send this to a friend to play!
          <input type="text" id="game-url" name="url" readonly>
        </div>
      </div>

      <div id="main" class="game">
        <div id="player-captures" class="captures"></div>
        
        <div id="board">
          <div class="inner"></div>
        </div>

        <div id="opponent-captures" class="captures"></div>
      </div>

      <div id="turn"class="game"></div>
    </div>
  </body>
</html>
