$dark-tile-base: #794E4E;
$dark-tile-origin: #494976;

$light-tile-base: #9F6B5F;
$light-tile-origin: #545586;


$dark-piece: #4A1E1E;
$light-piece: #FFD9D9;


//Overlay colours
$check : #ff000033;
$selected: #bbf0bb8a;
$capture : #ffbe6db0;
// $target : #4a1e1e87;
$target: #3f407c7a;
$origin : #c5848487;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #abbbb5;
    width: 100%;
    display: grid;
    grid-template: 100% / 100%;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

button#generateRoom {
    padding: 2%;
    width: 20%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
}
#container {
    display: grid;
    grid-template: 9fr 1fr / 100%;
    width: 100%;
    align-items: center;
    height: 90%;
    justify-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

div#turn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #4a1e1e;
}

#main {
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 100%;
    grid-column-gap: 1%;
    font-size: 3vw;
}

#lobby {
    padding: 5%;
    background: white;
    border-top-right-radius: 5% 10%;
    border-bottom-right-radius: 5% 10%;
    border-top-left-radius: 5% 10%;
    border-bottom-left-radius: 5% 10%;
    text-align: center;
    max-height: 400px;
    box-sizing: border-box;

    h1 {
        text-transform: lowercase;
    }
}

input#game-url {
    width: 100%;
    font-size: 1em;
    padding: 5%;
    box-sizing: border-box;
    background: #e3e3e3;
    border: none;
    border: 1px solid #bcbcbc;
    margin-top: 10px;
}

.captures {
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template: repeat(8, 1fr) / repeat(2, 1fr);
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

#board {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    text-align: center;

    .inner {
        width: 100%;
        height: 100%;
        display: grid;
        box-sizing: border-box;
        border: 5px solid #300505;
        grid-template: repeat(8, 1fr) / 100%;
        background: #794E4E;
    }

    .row {
        display: grid;
        grid-template: 100% / repeat(8, 1fr);

        .tile {
            display: grid;
            align-items: center;
            text-align: center;

            &.dark {
                background-color: $dark-tile-base;

                &.origin {
                    background-color: $dark-tile-origin;
                }
                   
            }

            &.light {
                background-color: $light-tile-base;
                &.origin {
                    background-color: $light-tile-origin;
                }

            }

            &.check {
                .piece {
                    background-color: $check;
                }
            }

            &.target {
                .piece {
                    background-color: $target;
                }
            }


            &.selected {
                .piece {
                    background-color: $selected;
                }
            }

            &.capture {
                .piece {
                    background-color: $capture;
                }
            }

            .piece {
                line-height: 150%;
                width: 100%;
                height: 100%;
                &.dark {
                    color: $dark-piece;
                }

                &.light {
                    color: $light-piece;
                }
            }
        }
    }
} 


.fa-times {
    color: rgb(74, 30, 30 , 40%);
}

#popup {
    grid-area: 1 / 1 / 2 / 2;
    position: fixed;
    width: 35%;
    height: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: grid;
    grid-template: 50% 25% 25% / 100%;
    border-top-right-radius: 3.5% 5%;
    border-top-left-radius: 3.5% 5%;
    border-bottom-left-radius: 3.5% 5%;
    border-bottom-right-radius: 3.5% 5%;

    i.fa-chess {
        grid-area: 1 / 1 /2 /2;
        justify-self: center;
        align-self: center;
        font-size: 4vw;
        color: #300505;
    }

    i#modal-close {
        grid-area: 1 / 1 / 2 /2;
        align-self: flex-start;
        justify-self: right;
        padding: 10px;
    }

    #modal-header {
        grid-area: 1 / 1 /2 /2;
        justify-self: center;
        align-self: end;
        font-size: 40px;
        font-weight: bold;

    }
    
    #modal-body {
        text-align: center;
    }
    
    #modal-footer {
        align-self: center;
        justify-self: center;
        width: 30%;
        display: flex;
        align-items: center;

        button {
            padding: 5%;
            margin: auto;
            border: none;
            border-radius: 5px;
            background: #a4caa4;
            width: 120%;
            text-transform: lowercase;
            font-weight: bold;
        }
    }
}

#popup-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #6f6f6f;
    opacity: 0.5;
}

